.tmp{
  text-align: center;
}
.main{
  display:inline-block;
  border-bottom: 1px solid gray;
  width:100%;
  padding-bottom: 50px;
  text-align: center;
  font-size: 50px;
  }
  .check{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: right;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  #done_list{
    text-decoration: line-through;
  }
  .todo{
    text-align: center;
  }
  .done{
    text-align: center;
  }
